{% extends 'base.html.twig' %}

{% block title %}Inventaire de
	{{ user.username }}
{% endblock %}

{% block body %}
	<h1>Inventaire des Médicaments de
		{{ user.username }}</h1>

	{% if inventaire is empty %}
		<p>Aucun médicament dans l'inventaire.</p>
	{% else %}
		<table>
			<thead>
				<tr>
					<th>Médicament</th>
					<th>Quantité</th>
				</tr>
			</thead>
			<tbody>
				{% for item in inventaire %}
					<tr>
						<td>{{ item.medicament.nom }}</td>
						<td>{{ item.quantite }}</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	{% endif %}
{% endblock %}
